/* Universal Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #ffa07a;
}

/* Header */
#nav-links {
  display: flex;
  background-color: #008080;
}

#nav-links li {
  list-style: none;
  margin: 25px 40px 10px 40px;
}

#nav-links a {
  text-decoration: none;
  color: #ffa07a;
  font-size: 1.2rem;
}

/* Splash */

#splash {
  display: flex;
  height: 500px;
  align-items: center;
}

#splash h1 {
  background-color: #80513e;
  width: 100%;
  text-align: center;
  color: #ef6e46;
  padding: 40px 0;
  font-size: 2rem;
}

/* Mission */

#mission {
  margin-left: 20px;
  margin-bottom: 100px;
}

#mission h2 {
  color: yellow;
}

#mission p {
  color: white;
}

/* pics */

#pics {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

#pics img {
  width: 550px;
  height: auto;
  margin: 0 20px;
}

/* Aside quote */

#quote {
  color: yellow;
  background-color: #008080;
  padding: 50px 10px;
}

#quote h1 {
  font-size: 2.5rem;
}
