/* Universal Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #ffa07a;
}

/* Header */
#nav-links {
  display: flex;
  background-color: #008080;
}

#nav-links li {
  list-style: none;
  margin: 25px 40px 10px 40px;
}

#nav-links a {
  text-decoration: none;
  color: #ffa07a;
  font-size: 1.2rem;
}
